<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" 
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">

  <title>
    {{settings.ALBUM_TITLE}} {% if title %}&mdash; {{title}} {% endif %}
  </title>

  <link href="static/bootstrap.4.1.1.min.css" rel="stylesheet">
  <link href="static/orsay.css" rel="stylesheet">
  {% if settings.CSS %}
    <link href="static/{{settings.CSS}}" rel="stylesheet">
  {% endif %}

  {% block extra_head %}
  {% endblock extra_head %}
  {% block extra_script %}
  {% endblock extra_script %}
</head>
<body>

  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container d-flex justify-content-between">
        <div class="navbar-brand">{{settings.ALBUM_TITLE}}</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle Navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link hide-outline" href=".">Trip</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hide-outline" 
                href="all_galleries.html">Galleries</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main role="main">
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>

  </main>

  <script src="static/jquery-3.3.1.min.js"></script>
  <script src="static/popper.1.14.3.min.js"></script>
  <script src="static/bootstrap.4.1.1.min.js"></script>

  {% block body_script %}
  {% endblock body_script %}
</body>
</html>
