<div class="row align-items-center">
  <div class="col-md-1">
    {% if page.prev_page %}
      <a href="{{page.prev_page}}" 
        class="btn btn-sm btn-outline-secondary">&lt;&lt;</a>
    {% endif %}
  </div>
  <div class="col-md-10 text-center">
    <h2 class="page-nav"> {{page.title}} </h2>
    {% if page.date %}
      <small class="page-nav text-muted">{{page.date}}</small>
    {% endif %}
  </div>
  <div class="col-md-1 text-right"> 
    {% if page.next_page %}
      <a href="{{page.next_page}}" 
        class="btn btn-sm btn-outline-secondary">&gt;&gt;</a>
    {% endif %}
  </div>
</div>
